* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.w70 {
  width: 70%;
}

.w30 {
  width: 30%;
}