.card {
    border-radius: 2vh;
    background: linear-gradient(254deg, #ED2D72 0%, #FE5B00 100%);
    min-height: 60vh;
    max-height: 60vh;
    padding: 5vh 3vh;
}

.circleNubmer {
    width: 5vh;
    height: 5vh;

    min-width: 35px;
    min-height: 35px;

    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    font-family: 'Rubik', sans-serif;
    font-size: 3vh;
    font-weight: 800;

    color: #FD5C09;
}

.cardList {
    padding: 0px 3vh;
    gap: 3vh;
    margin-top: 3vh;
}

.card .picture {
    display: flex;
    margin: 0 auto;
    width: 100px;
    height: 100px;

}

.card .picture img {
    border-radius: 100%;


    /* margin: 0 auto; */
    /* width: 200px; */
    /* height: 200px; */
    /* width: 100%; */
    /* border-radius: 100%; */
}